# Neon PostgreSQL Database
DATABASE_URL=postgresql://neondb_owner:npg_FEe3nX6IvdcJ@ep-holy-sound-ar4kd52x-pooler.c-4.us-west-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require
NEON_PROJECT_ID=red-dust-82718890
